.container:after {
    z-index: 7;
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(circle at 0% 0%, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 30%, transparent 70%);
}
.container {
    width: 165rem;
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: repeat(50, 1fr);
    grid-template-columns: repeat(50, 1fr);
    position: fixed;
    top: -35rem;
    left: -50rem;
    transform: rotateX(60deg) rotateY(-4.7deg) rotateZ(23deg) scale(1.25);
    z-index: 0;
}

.container:after,
.container:before {
    content: "";
    position: absolute;
    inset: 0px;
    pointer-events: none;
}

.container:before {
    z-index: 6;
    background-image: url("https://assets.codepen.io/1468070/plus-pattern-center.png");
    background-size: calc(100% / 25);
    background-repeat: repeat;
    opacity: 0.25;
}


.tile {  
    border: 1px solid rgba(255, 255, 255, 0.363);
    transition: background-color 1500ms;
}

.tile:hover {
    transition-duration: 0ms;
}

.lit {
    box-shadow: 0 0 18px rgba(255,255,255,0.12) inset, 0 6px 18px rgba(0,0,0,0.5);
}

.tile:nth-child(4n):hover {
    background-color: rgb(var(--red-rgb));
}

.tile:nth-child(4n + 1):hover {
    background-color: rgb(var(--blue-rgb));
}

.tile:nth-child(4n + 2):hover {
    background-color: rgb(var(--green-rgb));
}

.tile:nth-child(4n + 3):hover {
    background-color: rgb(var(--yellow-rgb));
}

.tile:nth-child(7n):hover {
    background-color: rgb(var(--blue-rgb));
}

.tile:nth-child(7n + 3):hover {
    background-color: rgb(var(--green-rgb));
}

.tile:nth-child(7n + 5):hover {
    background-color: rgb(var(--yellow-rgb));
}

.tile:nth-child(7n + 6):hover {
    background-color: rgb(var(--red-rgb));
}

.tile:nth-child(11n + 1):hover {
    background-color: rgb(var(--red-rgb));
}

.tile:nth-child(11n + 4):hover {
    background-color: rgb(var(--blue-rgb));
}

.tile:nth-child(11n + 7):hover {
    background-color: rgb(var(--green-rgb));
}

.tile:nth-child(11n + 10):hover {
    background-color: rgb(var(--yellow-rgb));
}
